extends ./layout/index 

block contenido
    main.container.mt-5
        .row  
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7    
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet augue vitae metus egestas feugiat. Sed commodo tempor turpis. Mauris tempus porta molestie. Proin id justo vitae turpis ornare porttitor. Nam fermentum ultricies aliquam. Fusce dapibus erat justo, eget hendrerit eros mollis non. Vestibulum nec fermentum felis. 

                p  Vestibulum luctus convallis odio, ut porta quam dignissim ut. Integer velit dui, fringilla in imperdiet ut, tempus nec odio. Quisque in ante ac nulla sodales malesuada at ac elit. Curabitur urna turpis, fringilla at ligula eu, condimentum mattis turpis. Nunc placerat leo euismod quam dictum semper. Nunc congue purus dolor, vel sagittis ipsum convallis a. Vestibulum quis condimentum lacus. Nam vulputate neque lectus, et pulvinar nibh commodo non. Mauris sagittis semper arcu, non volutpat urna maximus nec. Praesent ut purus in ligula dictum placerat pharetra a nunc. Quisque feugiat arcu quis elit molestie, et cursus tortor pharetra. 

                p Donec non ex quis justo molestie vestibulum. Suspendisse consectetur sed turpis quis semper. In sollicitudin eros vitae tortor congue aliquet. Pellentesque quis libero tincidunt, dictum tortor sit amet, congue enim. Praesent eu tellus ornare, semper augue ac, feugiat erat. Vivamus scelerisque urna ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare pellentesque pharetra.
    .listado-iconos         
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="")
                    h2 seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare pellentesque pharetra.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="")
                    h2 Mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare pellentesque pharetra.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="")
                    h2 Mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare pellentesque pharetra.